<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>ユーザ一覧画面</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
</head>

<body>
	<h1>発注システム</h1>
	<h2>ユーザ一覧画面</h2>
	<div id="contents">
		<table>
			<tr>
				<th>従業員番号</th>
				<th>従業員氏名</th>
				<th>部署</th>
			</tr>
			<tr th:each="user:${userList}">
				<td th:text="${user.eid}" />
				</td>
				<td th:text="${user.ename}" />
				</td>
				<td th:text="${user.station}" />
				</td>
			</tr>
		</table>
	</div>
</body>

</html>